
<!--
<style>
.component {
  cursor: pointer;
}

.target:after{
  float:left;
  content: " ";
  height: 77px; 
  margin-top: 3px;
  background: #f0f0f0;
  width: 100%;
  border: 1px dashed #ccc;
}

.component input {
  cursor: pointer;
}

.component textarea {
  resize: vertical;
}



.dragged .form-group {
  padding: 8px 4px;
  border: 1px dotted #ccc;

  background: white;
  box-shadow: 0px 0px 30px #999;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  overflow: hidden;
}

</style>
<div class='row'>
    <div class='col-xs-6'>
		<div class="panel panel-default">
			<div class="panel-body" id="metadatacontent">

			</div>
		</div>
    </div>
    <div class='col-xs-6'>
		<div class="panel panel-default">
			<div class="panel-body" id="repository">

			</div>
		</div>
    </div>
</div>
-->

    <div>
		<div class="panel panel-default">
			<div class="panel-body nav " id="metadatacontent">

			</div>
		</div>
    </div>




   
<textarea id="<%= id %>" placeholder="placeholder" class="form-control" rows="3"
<% if(disabled){ %>
disabled="disabled"
<% } %>
><%= value %></textarea>


<div class="modal" id="itemeditmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabelEdit"><%= polyglot.t('EditComponent') %></h4>
      </div>
      <div class="modal-body center-block">
     
      </div>
      <div class="modal-footer">
	<a href='#' class='btn btn-primary' id="saveitem"><%= polyglot.t('Save') %></a>
	<a href='#' class='btn'  id="closeitem"><%= polyglot.t('Close') %></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

   