
<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
</script>

<div class="page-container">
  <!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
    	<div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">DataCollector</a>
    	</div>
       </div>
    </div>

 <div class="container">
      <div class="row row-offcanvas row-offcanvas-left" style="height:100%;">
        
        <!-- sidebar -->
        <div class="header col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="overflow-y:auto;">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>                       
            </ul>
        </div>
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9" style="height:100%;">
        <div class="row" style="height:100%;">
		           <div class="col-md-12" style="height:100%">
		            <div class="row">
		                <div>
		                    <ul class="nav nav-tabs">
		                       <li id="mapmenu">
		                            <a id="btnMap"><%= polyglot.t('Map') %></a>
		                        </li>
		                        <li id="tablemenu">
		                            <a id="btnTable"><%= polyglot.t('Table') %></a>
		                        </li>
		                        <li id="addEntrymenu">
		                            <a id="btnAdd"><%= polyglot.t('Add_Entry') %></a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		             <div class="row" id="maprow" style="height:100%">
		                <div class="panel panel-default" style="height:100%">
		                                <div class="panel-body" id="map" style="height:100%;"></div>
		                </div>
		            </div>
		            <div class="row" id="tablerow" style="height:100%">
		                <div class="panel panel-default" style="height:100%">
		                                <div class="table-responsive panel-body" id="table" style="height:100%;overflow-y:auto;"></div>
		                </div>
		            </div>
		  			<div class="row" id="entryrow" style="height:100%;padding-bottom:50px;">
		                <div class="panel panel-default" style="height:100%;">
		                                        <div class="panel-body" id='content' style="height:100%;overflow-y:auto;"></div>
		                </div>
		            </div>
	           </div>
	            </div>
		            <div class="row">
		                <div  id="log">
		                   
		                </div>
		            </div>
		           
        </div>
        
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div>