
          <ul id="navbar" class="nav">
            <!--<li><a href="#entries/reset"><i class="glyphicon  glyphicon-trash"></i> <%= polyglot.t('ResetLocalDatabase') %> </a></li>-->
            <li><a href="#entries/sync" id="syncimage"><i class="glyphicon  glyphicon-refresh" ></i> <%= polyglot.t('SyncWithServer') %> </a></li>
            <li id="btnlogin"></li>
            
            
            	<li><span class="icon-bar">&nbsp;</span></li>
            	<li><a href='#' id='save'><i class="glyphicon glyphicon-save"></i> <%= polyglot.t('Save') %></a></li>
				<li><a href='#' id='delete' ><i class="glyphicon  glyphicon-trash" ></i> <%= polyglot.t('Delete') %></a></li>
            
          </ul>


