

 
 <div class="container">
 <a id="en" href="app.html">En</a>
<a id="ro" href="app.html">Ro</a>
  <a href="/"><img src="/assets/178x200px.png"><b><%= polyglot.t('ReadMoreAboutUs') %></b></a>

 
                    <h1><%= polyglot.t('Login') %></h1>

                      <div class="alert alert-danger col-lg-offset-2 col-lg-9" style="display:none;"></div>
                   <form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-lg-2 control-label" for="inputEmail"><%= polyglot.t('Email') %></label>
    <div class="col-lg-9">
      <input class="form-control" type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="inputPassword"><%= polyglot.t('Password') %></label>
    <div class="col-lg-9">
      <input class="form-control" type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>

   <div class="form-group">
    <div class="col-lg-9 col-lg-offset-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="inputRememberMe" > <%= polyglot.t('RememberMe') %>
        </label>
      </div>
    </div>
  </div>
  
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-9">
      <button  type="submit" class="btn" id="loginButton"><%= polyglot.t('Login') %></button>
      <button  class="btn" id="registerButton"><%= polyglot.t('Register') %></button>
    </div>
  </div>
</form>
    </div>           